.largeButton,
.mediumButton,
.smallButton,
.xlargeButton {
  max-height: 20px;
  &.removeButton {
    width: 25px;
    height: 35px !important;
  }
  &.xlargeButton {
    width: 120px;
  }
  &.largeButton {
    width: 80px;
  }

  &.mediumButton {
    width: 50px;
  }

  &.smallButton {
    width: 45px;
  }
}
.innerButton {
  line-height: 21px;
}
.mainBtn {
  position: relative;

  display: flex;
  padding: 6px 16px;
  justify-content: center;
  border-radius: 8px;
  box-shadow: $main-cta-box-shadow;
  min-height: 22px;
  max-height: 32px;
  display: flex;
  justify-content: center;
  color: $primary-green;

  img {
    margin-left: auto;
    width: 18px;
  }

  &.not_allowed {
    color: $color-text-black;
    cursor: not-allowed;
    background-color: $gray-disable;
  }

  &.primary-btn {
    color: $white-smoke;
    cursor: pointer;

    background-color: $primary-deep-blue;

    color: $color-white;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: $primary-deep-blue-hover;
    }
  }
}

//common buttons
.cancel {
  margin-right: 12px;
  margin-left: 12px;
}

.closeButton {
  width: 20px;
}

.reset-btn {
  margin: 30px auto;
}

.home-button {
  margin-top: 20px;
  cursor: pointer;
}

.icon-position {
  img {
    margin-left: 12px;
    width: 13px;
  }
}

.pointer {
  cursor: pointer;
}

.ok-green-btn {
  display: flex;
  height: 40px;
  padding: 5px 8px;
  align-items: center;
  gap: 10px;
  background: $blue-button;
  box-shadow: $input-field-box-shadow;
  border: $primary-border;
}

div.options {
  background-color: $color-white;
  position: absolute;
  max-width: 100px;
  width: 100%;
  top: 44px;
  right: 0;
  z-index: 2;
  border: 1px solid $color-white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.12),
    0px 15px 35px 0px rgba(103, 110, 118, 0.08);
}

@media (max-width: 490px) {
  .mainBtn {
    padding: 4px 12px; /* Reduce padding for mobile */
    border-radius: 6px;
    min-height: 28px;
    max-height: 30px;
  }

  .largeButton,
  .mediumButton,
  .smallButton,
  .xlargeButton {
    max-height: 18px; /* Slight reduction for compact fit */

    &.xlargeButton {
      width: 100px; /* Adjust width for smaller screen */
    }
    &.largeButton {
      width: 70px;
    }
    &.mediumButton {
      width: 45px;
    }
    &.smallButton {
      width: 30px;
    }
  }

  .innerButton {
    line-height: 28px;
    font-size: 0.9rem;
  }

  div.options {
    top: 36px;
    max-width: 90px;
    width: 90%;
    right: 5px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1),
      0px 12px 28px rgba(103, 110, 118, 0.07);
  }

  .optionitem {
    padding: 1px 16px;
    margin: 8px 0;
    font-size: 0.85rem;
    height: 24px;
  }
}
// .removeBtn {
//   height: 25px !important;
//   width: 35px;
//   font-size: 12px;
//   font-weight: 900;
//   padding: 1px 16px;
//   background-color: $color-green-mint-highlight !important;
//   color: $color-blue-ice !important;
// }
