#recipes-container {
  background: $yello-lemon-lighter;
  height: 100vh;

  .content-countainer {
    display: flex;
    a {
      text-decoration: none;
    }
    img {
      width: 33%;
    }
    .recipe-area {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;

      .card-container {
        display: flex;
        max-height: 90px;
        min-height: 50px;
        margin: 10px 5px 3rem 5px;
        border-radius: 10px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
        }
        a {
          display: flex;
          gap: 10px;
          width: 100%;
          height: 100%;
          color: white;
          flex-direction: row;

          .card-image-wrapper {
            width: 45%;
            display: flex;
            justify-content: center;
            position: relative;
            align-items: center;
            img {
              width: 95%;
              height: 95%;
              border-radius: 100%;
            }
          }

          .card-content {
            width: 60%;
            .fav-icon {
              margin: 3px 4px auto auto;
              top: 3px;
              right: 5px;
              width: 20px;

              img {
                width: 90%;
              }
            }
            .card-title {
              color: white;
              text-align: center;
              text-decoration: none;

              p {
                color: white;
                font-weight: bold;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

.card {
  padding: 1rem;
  margin: 10px;
  color: $color-text;
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include circle-inset-shadow;

  display: flex;
  flex-direction: column;

  border-radius: 20px;

  overflow: hidden;
  position: relative;
  overflow: hidden;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    color: $color-white;
    h2 {
      margin: 0;
      font-size: 24px;
    }
  }
  &__body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100%;
  }
  .ranking-badge {
    width: 315px;
    height: 490px;

    @include circle-inset-shadow;
    border-radius: 100%;
    position: absolute;
    bottom: -290px;
    right: -190px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 2em;
    opacity: 0.5;
  }

  .ranking-badge-orange {
    @include card-gradient(
      $color-orange-circle-start,
      $color-orange-circle-end
    );
  }
}

@media (max-width: 490px) {
  .girlChef {
    display: none;
  }
}
