#recipe-detail {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 1240px;
  margin: 0 40px;

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .action-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
    .edit {
      border: none;
      background-color: #1a3a52;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #163549;
      }
    }

    .delete {
      background-color: #ff6b6b;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #d64545;
      }
    }
  }

  .rate {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: $golden-yellow;
  }

  .recipe-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .summary {
      display: flex;
      gap: 20px;

      .image-border {
        width: 35%;
        border: 2px solid $light-gray;
        border-radius: 10px;
        padding: 10px;
        position: relative;

        .recipe-image {
          width: 100%;
          height: 100%;
          border-radius: 8px;
        }

        .fav-icon {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;

          img {
            width: 24px;
            height: 24px;
          }
        }
      }

      .words {
        flex: 1;

        h1 {
          font-size: 2em;
          margin: 10px 0;
          color: #4b3a47;
        }

        .nut-info {
          background-color: #eaf7f8;
          padding: 12px 15px;
          border-radius: 8px;
          margin-bottom: 10px;
          font-weight: bold;
          display: inline-block;
          color: $deep-teal;
        }

        .tags-list {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          list-style: none;
          li {
            background-color: $deep-teal;
            padding: 6px 10px;
            border-radius: 5px;
            font-size: 0.9em;
            color: $color-white;
          }
        }

        .description {
          font-size: 1em;
          margin-top: 15px;
          color: #666;
        }
      }
    }

    .detail {
      display: flex;
      gap: 30px;
      .ingredient-list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 30%;
        .ingredient-item {
          display: flex;
          align-items: center;
          background-color: $basic-light-white;
          padding: 4px 8px;
          border-radius: 3px;
          line-height: 1.2;

          input[type='checkbox'] {
            margin-right: 8px;
            transform: scale(0.8);
            accent-color: #007b83;
          }

          label {
            color: $color-text-black;
          }
        }
      }

      .instructions-list {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .instruction-step {
          display: flex;
          align-items: flex-start;
          background-color: $basic-white;
          padding: 15px;
          border-radius: 8px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          position: relative;

          &:before {
            content: attr(data-step);
            background-color: $deep-teal;
            color: $color-white;
            font-weight: bold;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-right: 10px;
            font-size: 0.9em;
          }

          p {
            margin: 0;
            font-size: 1em;
            color: $color-text-black;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #recipe-detail {
    padding: 10px;
    margin: 45px auto;
    .recipe-container {
      gap: 15px;

      .summary {
        flex-direction: column;
        .image-border {
          width: 95%;
          padding: 5px;

          .fav-icon {
            top: 5px;
            right: 5px;
          }
        }

        .words {
          flex: 1;

          h1 {
            font-size: 1.5em;
          }
          .nut-info {
            width: 90%;
            padding: 6px;
          }
        }
        .tags-list {
          gap: 5px;
          li {
            padding: 3px 8px;
            font-size: 0.8em;
          }
        }
      }

      .detail {
        flex-direction: column;
        .ingredient-list {
          width: 100%;
        }
      }

      button {
        padding: 8px 12px;
        font-size: 0.9em;
      }
    }
  }
}
