#home-container {
  padding: 3rem 2rem;
  font-family: Arial, sans-serif;
  background-color: $background-main; // Soft background color for readability

  .hero-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 0;

    .hero-text {
      max-width: 50%;
      color: $color-text-primary; // Dark primary text color

      h1 {
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.2;
        margin: 0;

        .highlight {
          background-color: $progress-color-shagi;
          padding: 0.1rem 0.3rem;
          color: $color-white;
          border-radius: 5px;
        }
      }

      .subtitle {
        font-size: 1rem;
        color: $color-text-secondary; // Subtle secondary text color for subtitles
        margin: 1rem 0;
      }

      .hero-buttons {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        .get-started {
          padding: 0.5rem 1.5rem;
          background-color: $progress-color; // Primary green color for CTA

          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-weight: bold;
          a {
            color: $color-white;
            text-decoration: none;
          }
        }

        .learn-more {
          margin-left: 1rem;
          color: $progress-color-shagi; // Matching the highlight color for link consistency
          text-decoration: none;
          font-weight: bold;
          font-size: 1rem;
        }
      }

      .metrics {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
        font-size: 1rem;
        color: $color-text-secondary; // Primary text color

        div {
          font-size: 1.2rem;
          display: flex;
          flex-direction: column;
          align-items: center;

          strong {
            font-size: 1.4rem;
            font-weight: bold;
            color: $color-text-primary; // Dark primary color
          }

          span {
            color: $gray-text-color; // Gray text color for subtlety
          }
        }
      }
    }

    .hero-image {
      max-width: 40%;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}
