.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $primary-light-blue;
}

.main-content {
  margin-top: 0px;

  margin-left: 0px;
  flex: 1;
  overflow-y: auto;
}
@media (max-width: 490px) {
  .main-content {
    margin-left: 0px;
    margin-top: 0px;
    padding: 2px;
  }
}
p {
  margin: 0;
}
