.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $primary-light-blue;
}
// $secondary-light-green-shagi: #73c79080;
.main-content {
  margin-top: 60px;
  margin-left: 250px;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}
.auth-layout {
  margin-top: 60px;
  margin-left: 0px;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}
@media (max-width: 490px) {
  .main-content,
  .auth-layout {
    margin-left: 0px;
    margin-top: 0px;
    padding: 2px;
  }
}
