.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-bottomtotop {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  align-items: flex-end;
  animation: slideInBottom 0.3s ease-out;
  z-index: 101;
}
.modal-content-recipe {
  position: relative;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 8px;
}
.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 400px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  height: 500px;
  max-height: 80vh; /* Limits the height of the modal to 80% of the viewport */
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.surprise-modal {
  max-width: 470px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
  }
  a {
    text-decoration: none;
  }
  .lucky-btn {
    background-color: #9dd9d2;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.9em;
    color: #fdf6f0;
  }
}
