.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  max-width: 250px;
  height: calc(100vh - 60px);
  background-color: $primary-light-blue;
  overflow-y: auto;
  z-index: 10;
  padding: 8px 5px;
  font-family: Arial, sans-serif;
  color: $primary-vibrant-red-trans;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-list h3 {
  font-size: 14px;
  color: $primary-vibrant-red-trans;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.sidebar .menu-item {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  background-color: $secondary-deep-purple1;
  color: $primary-vibrant-red-trans;
  text-decoration: none;
  border-radius: 3px;
  margin-bottom: 5px; /* Space between items */
  transition: background-color 0.3s ease;
}
.sidebar-list li a {
  color: $primary-vibrant-red-trans;
  text-decoration: none;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar-list li span {
  flex-grow: 1;
}

.sidebar-list li:hover {
  background-color: #338fa87d;
}

/* Icon styles */
.icon {
  color: $primary-vibrant-red-trans;
}
