.sidebar {
  position: fixed;

  left: 0;
  width: 100%;
  max-width: 250px;
  height: 100vh;
  background-color: $primary-deep-blue-bg;
  overflow-y: auto;
  z-index: 10;
  padding: 8px 5px;
  font-family: Arial, sans-serif;
  color: $primary-vibrant-red-trans;
  transition: transform 0.3s ease;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 120px 0;
}

.sidebar-list h3 {
  font-size: 14px;
  color: $primary-vibrant-red-trans;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.sidebar .menu-item {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  background-color: $white-color;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: $color-text-dark-purple;
  text-decoration: none;
  border-radius: 3px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}
.sidebar-list li a {
  color: $color-text-dark-purple;
  text-decoration: none;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar-list li span {
  flex-grow: 1;
}

.sidebar-list li:hover {
  background-color: $yello-lemon-light;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}
/* Icon styles */
.icon {
  color: $primary-deep-blue-bg;
}

.re-nav {
  width: 110px;
  height: 30px;
  img {
    width: 100%;
  }
}
@media (max-width: 490px) {
  .sidebar {
    top: 57px;
    max-width: 100%;
    transform: translateY(-100%);
    position: fixed; /* Fixed to ensure smooth slide from top */
    height: auto;
  }
  .sidebar .menu-item {
    padding: 8px 10px;
  }

  .sidebar.open {
    transform: translateY(0);
  }

  /* Close sidebar - slide up */
  .sidebar.closed {
    transform: translateY(-100%); /* Slide up */
  }

  /* Toggle button styling */
  .sidebar-toggle-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .logo-image {
    width: 100%;
    height: 100%;
  }
}
