// $color-primary-blue: #547be6;
$color-primary-orange: #f4c383;
// $color-primary-green: #53b483;
// $background-main: #f4f7fb;
// $background-card: #fff7eb;
// $background-highlight: #fbf2cb;
// $color-text-primary: #24292e;
// $color-text-secondary: #454c52;
// $color-text-highlight: #688dec;
// $border-color: #ced2d6;
// $shadow-light: rgba(0, 0, 0, 0.08);
// $shadow-medium: rgba(0, 0, 0, 0.16);
// $status-success: #d9f9e6;
// $status-warning: #ffeb99;
// $status-error: #fde9e9;
@font-face {
  font-family: 'Cinzel';
  src: url('../../assets/fonts/Cinzel/static/Cinzel-Medium.ttf')
    format('truetype');
}

$font-primary: 'Inter', sans-serif;
$font-secondary: 'Cinzel', sans-serif;

$color-orange-circle-start: #edc593;
$color-blue-circle-start: #adcdef;
$color-blue-circle-end: #688dec;
$background-main: #f4f7fb;
$color-white: #fff;
$color-orange-circle-end: #df9a62;

$color-blue-start: #8fbdec;
$color-blue-end: #547be6;
$color-orange-start: #f4c383;
$color-orange-end: #eb9546;
$color-text: #000000;

// Primary Palette Colors
$primary-soft-blue: #6c8fd8;
$primary-dark-blue: #263c8d;
$primary-deep-gray: #3d3336;
$primary-warm-purple: #873851;
$primary-vibrant-red: #ff6151;
$primary-bright-yellow: #e5fa2d;

// Secondary Palette Colors
$secondary-light-blue: #c8d3f0;
$secondary-pastel-purple: #c299c3;
$secondary-deep-purple: #7a415a;
$secondary-forest-green: #396c35;
$secondary-light-green: #a6c773;

// Grays and Whites
$gray-dark: #3d3336;
$gray-light: #e0e3e6;
$gray-medium-light: #ececec;
$gray-ultralight: #f4f4f4;
$gray-cool: #ededed;
$white-soft: #fcfcfc;
$white-smoke: #f2ffff;
$white-gray: #f8f9fa;

// Primary and Accent Colors
$primary-green: #396c35;
$success-bg: #d8f5d6;
$progress-color: rgb(255, 97, 81);
$progress-color-shagi: rgb(251 175 139);
$orange-button: #ff7500c4;
$progress-bg: #ffe0d9;
$reject-bg: #ffe1e1;
$red: #e24c4c;
$errorColor: #ff4b47;
$reject: #dc4258;
$secondary-reject: #cd3636;
$red-blur-light: rgba(242, 65, 65, 0.08);
$red-blur-medium: rgba(242, 65, 65, 0.4);

// Blues
$primary-light-blue: #c8d3f0;
$blue: #6c8fd8;
$primary-blue: #263c8d;
$blue-gray-color: #444c4d;
$blue-primary-disable: #1f2745;
$gray-disable: #e9e9e9;

// Shadows and Border Colors
$gray-blur-light: rgba(103, 110, 118, 0.08);
$gray-blur-medium: rgba(103, 110, 118, 0.16);
$black-blur-light: rgba(0, 0, 0, 0.12);
$black-blur-dark: rgba(0, 0, 0, 0.64);

// Text Colors
$color-text-black: #333333;
$color-text-primary: #3d3336;
$color-text-secondary: #6a6f76;
$color-text-light: #888888;
$color-text-help: #a8a8a8;
$gray-text-color: #9fa5ad;

// Box Shadows
$input-field-box-shadow: 0px 1px 1px $black-blur-light,
  0px 0px 0px 1px $gray-blur-medium, 0px 2px 5px $gray-blur-light;
$error-message-box-shadow: 0px 1px 1px $black-blur-light,
  0px 0px 0px 2px $red-blur-medium, 0px 2px 5px $red-blur-light;
$main-cta-box-shadow: 0px 2px 0px 1px $gray-blur-medium;

// Border
$primary-border: #396c35;
