@font-face {
  font-family: 'Cinzel';
  src: url('../../assets/fonts/Cinzel/static/Cinzel-Medium.ttf')
    format('truetype');
}

$font-primary: 'Inter', sans-serif;
$font-secondary: 'Cinzel', sans-serif;

$color-orange-circle-start: #edc593;
$deep-teal: #007b83;
$teal-hover: #006a75;
$green-light: #eaf7f8;
$color-blue-circle-start: #b8efad;
$color-blue-circle-end: #16f350;
$color-green-circle-end: #092132;
$color-green-circle-start: #eaf7f8;

$background-main: #f4f7fb;
$color-white: #fff;
$basic-white: #f3faff;
$basic-light-white: #f5f5f5;
$color-orange-circle-end: #df9a62;
$light-teal: #eaf7f8;
$color-blue-start: #0660ba;
$color-blue-end: #599e97;
$color-orange-start: #f4c383;
$color-orange-end: #eb9546;
$color-text: #000000;

// Primary Palette Colors

$primary-deep-gray: #3d3336;
$primary-deep-blue: rgb(7 49 76);
$primary-deep-navi: #3c3a58;
$primary-vibrant-red-trans: #f7e7e6d4;
// Secondary Palette Colors
$color-green-pistachio-background: #a8e6cf;
$color-orange-coral-button: #ff8c42;
$color-yellow-lemon-highlight: #ffe47a;
$yello-lemon-light: #fff4c3;
$yello-lemon-lighter: #fbf7e5a3;
////
///
$color-cream-beige-background: #fdf6f0;
$color-red-tomato-button: #ff6b6b;
$color-green-mint-highlight: #9dd9d2;
///
$color-pink-peach-background: #ffd3b4;
$color-green-olive-button: #6b705c;
$color-yellow-cream-highlight: #f6f2d4;
$color-yellow-deep-cream: #feffc6;
// Grays and Whites

$white-smoke: #f2ffff;

// Primary and Accent Colors
$primary-green: #1c6030d6;
$color-blue-light: #c8e2fb;
$color-blue-ice: #e4f1fe;
$pastel-blue: rgba(151, 191, 250, 0.928);
$progress-color-shagi: #f4d3c3;
$orange-button: #f68b59;
$blue-button: #8faadf;
$deep-green-button: #2a9d8f;
$progress-bg: #fcd4b3;
$reject-bg: #fef5f24a;
$errorColor: #ff4b47;
$red-blur-light: rgba(242, 65, 65, 0.08);
$red-blur-medium: rgba(242, 65, 65, 0.4);
$coral: #a16763;
// Blues
$primary-light-blue: #e8f1ff5e;
$primary-blue: #5e4a6d;
$gray-disable: #e9e9e9;
$yellow-deep: #fcad22;
$golden-yellow: #ffbf00;
// Shadows and Border Colors
$gray-blur-light: rgba(103, 110, 118, 0.08);
$gray-blur-medium: rgba(103, 110, 118, 0.16);
$black-blur-light: rgba(0, 0, 0, 0.12);
$black-blur-dark: rgba(0, 0, 0, 0.64);
$live-blue: #007bff;
$live-blue-hover: #0056b3;
// Text Colors
$color-text-black: #333333;
$color-text-primary: #3d3336;
$color-text-secondary: #6a6f76;
$color-text-light: #888888;
$color-text-help: #a8a8a8;
$gray-text-color: #9fa5ad;
$light-gray: #ddd;
// Box Shadows
$input-field-box-shadow: 0px 1px 1px $black-blur-light,
  0px 0px 0px 1px $gray-blur-medium, 0px 2px 5px $gray-blur-light;
$error-message-box-shadow: 0px 1px 1px $black-blur-light,
  0px 0px 0px 2px $red-blur-medium, 0px 2px 5px $red-blur-light;
$main-cta-box-shadow: 0px 2px 0px 1px $gray-blur-medium;

// Border
$primary-border: #396c35;

$body-color: #393937;
$accent-color: #f68b59;
$white-color: #fff;
$box-shadow: 0 0 5px #f68b59, 0 0 25px #f68b59, 0 0 50px #03e9f4,
  0 0 100px #f68b59;
