$color-orange-circle-start: #edc593;
$color-blue-circle-start: #adcdef;
$color-blue-circle-end: #688dec;

$color-white: #fff;
$color-orange-circle-end: #df9a62;

$color-blue-start: #8fbdec;
$color-blue-end: #547be6;
$color-orange-start: #f4c383;
$color-orange-end: #eb9546;
$color-text: #000000;
